.main {
   margin-top: 100px; 
}

.sec {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
input {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
    
    border-radius: 10px;
}