
.main {
   margin-top: 100px; 
   display: block;

   
}
.logo-img{
    display: block;
    width: 300px;
    margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
    
}
.search-input{
    display: block;
    width: 400px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.card{
    color: #222;
    background: lightgrey;
    width: 200px;
    padding-top: 100px;
    padding-right: 100px;
}